> Trabalho da disciplina de Inteligência Artificial sobre Algoritmos de Aprendizado de Máquina.
>> Feito por: **Henrique Navarro Morais.**

# Importações necessárias

In [3]:
import pandas as pd
import random
import numpy as np
from sklearn import *

In [ ]:
#Instação da extensão 'Collapsible Headings' para melhor visualização dos cabeçalhos
import os
os.system('pip install -q jupyter_contrib_nbextensions')
os.system('jupyter contrib nbextension install --user')
os.system('jupyter nbextension enable collapsible_headings/main --quiet')

# Sobre a Base de Dados

> A base de dados possui diversos atributos sobre diversas pessoas adultas dos EUS, e seu principal objetivo é apontar se a renda do indivíduo é inferior ou superior a 50K.
>
> Link da base de dados: https://archive.ics.uci.edu/ml/datasets/Adult

 > Foram feitas diversas operações na base de dados original, de forma que os dados foram tratados, limpos, convertidos e padronizados. Justamante para melhorar a qualidade e a confiabilidade dos dados a fim de serem usados por algoritmos de aprendizado de máquina.
> 
> Será feita a importação de 2 versões da base de dados, uma versão sem os atributos desnecessários, sem os exemplos denecessários e duplicados, e outra com essas mesmas características, porém, com todos os dados convertidos para numéricos e padronizados.
>
> O atributo de saída da base de dados é a **Renda**, de forma que na base de dados numérica, padronizada com valores de -10 a +10, os exemplos com valor igual a <=50K serão representadas como -10, já os exemplos que assumirem o valor de >50K, serão representados como +10.

In [4]:
db_clean = pd.read_csv('./databases/db_clean.csv')
db = pd.read_csv('./databases/db_num_ree.csv')

In [5]:
display(db_clean.head())
display(db.head())

,Idade,Classe Trabalhadora,Educacao,Num Educacao,Ocupacao,Ganho de Capital,Perda de Capital,Horas por Semana,Renda
0,39,State-gov,Bachelors,13,Adm-clerical,2174,0,40,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Exec-managerial,0,0,13,<=50K
2,38,Private,HS-grad,9,Handlers-cleaners,0,0,40,<=50K
3,53,Private,11th,7,Handlers-cleaners,0,0,40,<=50K
4,28,Private,Bachelors,13,Prof-specialty,0,0,40,<=50K

,Idade,Classe Trabalhadora,Educacao,Num Educacao,Ocupacao,Ganho de Capital,Perda de Capital,Horas por Semana,Renda
0,-3.230769,-10.0,-10.000000,6.000000,-10.000000,-8.277065,-10.0,-0.370370,-10.0
1,0.153846,-7.5,-10.000000,6.000000,-8.571429,-10.000000,-10.0,-7.037037,-10.0
2,-3.538462,-5.0,-8.666667,0.666667,-7.142857,-10.000000,-10.0,-0.370370,-10.0
3,1.076923,-5.0,-7.333333,-2.000000,-7.142857,-10.000000,-10.0,-0.370370,-10.0
4,-6.615385,-5.0,-10.000000,6.000000,-5.714286,-10.000000,-10.0,-0.370370,-10.0

# Técnica de Validação

> O método hold-out envolve a divisão do conjunto de dados em dois subconjuntos distintos: um conjunto de **treinamento** e um conjunto de **teste.**
> 
> A base de dados analisada foi dividida **20%** dos exemplos serão usados como **testes** e os **80%** restantes dos exemplos serão usados para **treino.**

In [20]:
def split_dataset(dataset, test_ratio):
    dataset_array = dataset.to_numpy()
    num_samples = len(dataset_array)
    np.random.shuffle(dataset_array)
    num_test_samples = int(num_samples * test_ratio)
    train_data = dataset_array[num_test_samples:]
    test_data = dataset_array[:num_test_samples]
    train_data = pd.DataFrame(train_data, columns=dataset.columns)
    test_data = pd.DataFrame(test_data, columns=dataset.columns)
    
    return train_data, test_data

db_treino, db_teste = split_dataset(db, test_ratio=0.2)
#db_clean_treino, db_clean_teste = split_dataset(db_clean, test_ratio=0.2)

In [7]:
print(f'Tamanho subconjunto de treino: {db_treino.shape[0]} exemplos\nTamanho subconjunto de teste: {db_teste.shape[0]} exemplos')
display(db_treino.head(3))
display(db_teste.head(3))

Tamanho subconjunto de treino: 17920 exemplos
Tamanho subconjunto de teste: 4480 exemplos

,Idade,Classe Trabalhadora,Educacao,Num Educacao,Ocupacao,Ganho de Capital,Perda de Capital,Horas por Semana,Renda
0,5.076923,5.0,0.666667,-6.000000,-1.428571,-10.0,-10.0,-0.370370,10.0
1,4.153846,2.5,2.000000,10.000000,5.714286,-10.0,-10.0,-7.283951,-10.0
2,4.769231,-5.0,-8.666667,0.666667,-2.857143,-10.0,-10.0,-4.074074,-10.0

,Idade,Classe Trabalhadora,Educacao,Num Educacao,Ocupacao,Ganho de Capital,Perda de Capital,Horas por Semana,Renda
0,8.153846,-5.0,-3.333333,2.000000,-10.000000,-10.000000,-10.0,-5.308642,-10.0
1,-6.000000,2.5,-10.000000,6.000000,5.714286,-10.000000,-10.0,2.098765,-10.0
2,9.076923,2.5,-6.000000,7.333333,5.714286,5.890791,-10.0,-0.370370,10.0

## Divisão da Base de Dados

# Métricas

> Acurácia:
> 
>

# Algoritmo Baseline

???

In [29]:
def baseline(train_data, test_data, target_column):
    # Calcula a frequência de cada classe no conjunto de treinamento
    class_frequencies = train_data[target_column].value_counts()
    # Obtém a classe majoritária
    majority_class = class_frequencies.idxmax()
    # Cria um array com a classe majoritária do mesmo tamanho do conjunto de teste
    predictions = np.full(len(test_data), majority_class)

    return predictions

baseline_predictions = baseline(db_treino, db_teste, 'Renda')
print(f'{baseline_predictions}')

[-10. -10. -10. ... -10. -10. -10.]

# K-NN

In [8]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder

def knn_model(train_data, test_data, k):
    train_data = train_data.copy()
    test_data = test_data.copy()

    X_train = train_data.drop('Renda', axis=1)
    y_train = train_data['Renda']
    X_test = test_data.drop('Renda', axis=1)
    y_test = test_data['Renda']
    
    for column in X_train.columns:
        if X_train[column].dtype != 'object':
            X_train[column] = pd.cut(X_train[column], bins=5, labels=False)
            X_test[column] = pd.cut(X_test[column], bins=5, labels=False)

    label_encoder = LabelEncoder()
    y_train = label_encoder.fit_transform(y_train)
    y_test = label_encoder.transform(y_test)

    knn = KNeighborsClassifier(n_neighbors=k)
    
    knn.fit(X_train, y_train)
    
    y_pred = knn.predict(X_test)
    
    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, pos_label=1)
    recall = recall_score(y_test, y_pred, pos_label=1)
    confusion = confusion_matrix(y_test, y_pred)

    return accuracy, precision, recall, confusion

#k = 5
#accuracy, precision, recall, confusion = knn_model(db_treino, db_teste, k)
#print(f'accuracy: {accuracy}, precision: {precision}, recall: {recall}, confusion: {confusion}')

In [9]:
k_values = [1, 5, 20, 50, 100]
results = []

for k in k_values:
    accuracy, precision, recall, confusion = knn_model(db_treino, db_teste, k)
    results.append([k, accuracy, precision, recall, confusion])

columns = ['k', 'accuracy', 'precision', 'recall', 'confusion']
metricas_res = pd.DataFrame(results, columns=columns)
display(metricas_res)
#display(confusao)

     k  accuracy  precision    recall                  confusion
0    1  0.735714   0.541054  0.489445  [[2670, 531], [653, 626]]
1    5  0.772321   0.643729  0.453479  [[2880, 321], [699, 580]]
2   20  0.781250   0.745484  0.354965  [[3046, 155], [825, 454]]
3   50  0.785714   0.761905  0.362783  [[3056, 145], [815, 464]]
4  100  0.783259   0.758389  0.353401  [[3057, 144], [827, 452]]

> É possível verificar médidas do desempenho do algoritmo K-NN com diversas variações de **K**

# Árvore C4.5

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

def arvore4_5(train_data, test_data, criterio):
    train_data = train_data.copy()
    test_data = test_data.copy()

    X_train = train_data.drop('Renda', axis=1)
    y_train = pd.cut(train_data['Renda'], bins=5, labels=False)
    X_test = test_data.drop('Renda', axis=1)
    y_test = pd.cut(test_data['Renda'], bins=5, labels=False)

    c4_5 = DecisionTreeClassifier(criterion=criterio)
    c4_5.fit(X_train, y_train)

    y_pred = c4_5.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted')
    recall = recall_score(y_test, y_pred, average='weighted')
    confusion = confusion_matrix(y_test, y_pred)

    return accuracy, precision, recall, confusion

#accuracy, precision, recall, confusion = arvore4_5(db_treino, db_teste)
#print(f'accuracy: {accuracy}, precision: {precision}, recall: {recall}, confusion: {confusion}')

In [11]:
results = []
metricas = ['entropy', 'gini', 'friedman_mse', 'mse']

for metrica in metricas:
    accuracy, precision, recall, confusion = arvore4_5(db_treino, db_teste, 'entropy')
    results.append([metrica, accuracy, precision, recall, confusion])
    
columns = ['criterio', 'accuracy', 'precision', 'recall', 'confusion']

metricas_res = pd.DataFrame(results, columns=columns)
display(metricas_res)
#display(confusao)

       criterio  accuracy  precision    recall                  confusion
0       entropy  0.711607   0.707224  0.711607  [[2588, 613], [679, 600]]
1          gini  0.711161   0.707031  0.711161  [[2585, 616], [678, 601]]
2  friedman_mse  0.710268   0.705862  0.710268  [[2585, 616], [682, 597]]
3           mse  0.714063   0.708504  0.714063  [[2603, 598], [683, 596]]

> Possível verificar o desempenho do modelo com base em diferentes métricas

# MLP

In [27]:
import warnings
from sklearn.exceptions import ConvergenceWarning
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

def mlp_model(train_data, test_data, hidden_layer_sizes=(50,), activation='relu', solver='adam', random_state=42):
    train_data = train_data.copy()
    test_data = test_data.copy()

    X_train = train_data.drop('Renda', axis=1)
    y_train = train_data['Renda']
    X_test = test_data.drop('Renda', axis=1)
    y_test = test_data['Renda']

    with warnings.catch_warnings():
        warnings.filterwarnings("ignore", category=ConvergenceWarning)
        
        mlp = MLPClassifier(hidden_layer_sizes=hidden_layer_sizes, activation=activation, solver=solver, max_iter=200, random_state=random_state)
        mlp.fit(X_train, y_train)

        y_pred = mlp.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average='weighted', zero_division=1)
    recall = recall_score(y_test, y_pred, average='weighted', zero_division=1)
    confusion = confusion_matrix(y_test, y_pred)

    return accuracy, precision, recall, confusion

results = []
hidden_layer_sizes = [(50,), (25,), (100,)]
activations = ['relu', 'logistic', 'tanh']
solvers = ['adam', 'sgd']
random_state = 42

for hidden_layers in hidden_layer_sizes:
    for activation in activations:
        for solver in solvers:
            accuracy, precision, recall, confusion = mlp_model(db_treino, db_teste, hidden_layer_sizes=hidden_layers, activation=activation, solver=solver, random_state=random_state)
            results.append([hidden_layers, activation, solver, accuracy, precision, recall, confusion])

columns = ['hidden_layers', 'activation', 'solver', 'accuracy', 'precision', 'recall', 'confusion']
metricas_res = pd.DataFrame(results, columns=columns)
display(metricas_res)

,hidden_layers,activation,solver,accuracy,precision,recall,confusion
0,"(50,)",relu,adam,0.787723,0.777778,0.787723,"[[2879, 285], [666, 650]]"
1,"(50,)",relu,sgd,0.781920,0.771210,0.781920,"[[2902, 262], [715, 601]]"
2,"(50,)",logistic,adam,0.795089,0.788400,0.795089,"[[2960, 204], [714, 602]]"
3,"(50,)",logistic,sgd,0.785714,0.779893,0.785714,"[[2985, 179], [781, 535]]"
4,"(50,)",tanh,adam,0.791741,0.784428,0.791741,"[[2956, 208], [725, 591]]"
5,"(50,)",tanh,sgd,0.786607,0.778177,0.786607,"[[2948, 216], [740, 576]]"
6,"(25,)",relu,adam,0.787500,0.782491,0.787500,"[[2991, 173], [779, 537]]"
7,"(25,)",relu,sgd,0.787277,0.779998,0.787277,"[[2965, 199], [754, 562]]"
8,"(25,)",logistic,adam,0.790848,0.784083,0.790848,"[[2966, 198], [739, 577]]"
9,"(25,)",logistic,sgd,0.785714,0.779170,0.785714,"[[2977, 187], [773, 543]]"
10,"(25,)",tanh,adam,0.796205,0.789696,0.796205,"[[2961, 203], [710, 606]]"
11,"(25,)",tanh,sgd,0.787500,0.779302,0.787500,"[[2950, 214], [738, 578]]"
12,"(100,)",relu,adam,0.786384,0.776241,0.786384,"[[2887, 277], [680, 636]]"
13,"(100,)",relu,sgd,0.786161,0.775998,0.786161,"[[2890, 274], [684, 632]]"
14,"(100,)",logistic,adam,0.793527,0.786193,0.793527,"[[2952, 212], [713, 603]]"
15,"(100,)",logistic,sgd,0.785045,0.778242,0.785045,"[[2975, 189], [774, 542]]"
16,"(100,)",tanh,adam,0.790179,0.780646,0.790179,"[[2894, 270], [670, 646]]"
17,"(100,)",tanh,sgd,0.785491,0.777128,0.785491,"[[2952, 212], [749, 567]]"

# Resultados Baseline

# Resultados 3 algoritmos